 <html>
  <head>
    
    <!--BOOTSTRAP CSS import-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_test.css')}}">

    <script>
      var Sunday = new Date('{{sunday}}');
      var Saturday = new Date();
      Saturday.setDate(Sunday.getDate() + 6);

      document.getElementById("sunday_date").value=[Sunday.getFullYear(),Sunday.getMonth(),Sunday.getDate()];
    $("#demo").html("<b>Menu for the week of "+ Sunday.toDateString() + " to " + Saturday.toDateString()+"</b>");
    $("#next").click(function() {
      Sunday.setDate(Sunday.getDate()+7)
      Saturday.setDate(Saturday.getDate() + 7);
      $("#demo").html("<b>Menu for the week of "+ Sunday.toDateString() + " to " + Saturday.toDateString()+"</b>");
      $("#sunday_date").html('<input value=7>')
      //$("#sunday_date").value(Sunday.toDateString())
      document.getElementById("sunday_date").value=[Sunday.getFullYear(),Sunday.getMonth(),Sunday.getDate()];
      });
    $("#prev").click(function() {
      Sunday.setDate(Sunday.getDate()-7)
      Saturday.setDate(Saturday.getDate() - 7);
      $("#demo").html("<b>Menu for the week of "+ Sunday.toDateString() + " to " + Saturday.toDateString()+"</b>");
      $("#sunday_date").html('<input value=7>')
      //$("#sunday_date").value(Sunday.toDateString())
      document.getElementById("sunday_date").value=[Sunday.getFullYear(),Sunday.getMonth(),Sunday.getDate()];
    });
    </script>
  </head>
<body>
  {% extends 'basic_page.html' %}

  
  {% block content %}

  <div class=page_title>
      Shopper
  </div>

  <div class=page_content>
  <form method=post autocomplete="off">
    <h1>Shopping list for week of {{sunday}}</h1>
    <button class="btn btn-secondary" type="submit" name="previous" value="previous">Previous</button>
    <button class="btn btn-primary" type="submit" name="next" value="next">Next Week</button>
  </form>
  {%if menu_exist%}
    {%for ingred in sorted_ingred%}
    <span>{{ingred}} :</span>
    {%for measure in amounts_total[ingred]%}
    <span>
      {{amounts_total[ingred][measure]}} {{measure}}
    </span>
    {%endfor%}
    <br>
    {%endfor%}
  {%else%}
    <p>No ingredients needed</p>
  {%endif%}
</div>
{% endblock %}



  


  
  <!--BOOTSTRAP Javascript import-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>